@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.startdiv:hover {
  background-color: #212121;
  color: #f1f1f1;
  transition: 0.2s ease-in-out;
}

.about a {
  border-bottom: 2px solid #212121;
}

@font-face {
  font-family: "Font1";
  src: url("../Fonts/FoundersGrotesk-Semibold.ttf");
}

@font-face {
  font-family: "Font2";
  src: url("../Fonts/NeueMontreal-Regular.ttf");
}

@media (max-width: 800px) {
  .outerContainer {
    flex-direction: column;
    /* padding: 6vw; */
  }

  .cardcontainer {
    width: 100%;
    height: 30vh;
    height: 70vh;
    margin-bottom: 1vh;
  }
}

@media (max-width: 800px) {
  .cardcontainer {
    height: 40vh;
  }
}

@media (max-width: 600px) {
  .footer {
    flex-direction: column;
  }

  .footerlinks {
    width: 100%;
    margin-top: 3vh;
  }
}

@media (max-width: 800px) {
  .card {
    min-height: 30vh;
  }
}
